@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #282828;
  opacity: 1;
  background-image: radial-gradient(
    rgba(76, 76, 76, 0.5) 1.4000000000000001px,
    #282828 2px
  );
  background-size: 28px 28px;
}

.hover-drop-shadow:hover {
  filter: drop-shadow(0 0 15px var(--shadow-color));
}

@font-face {
  font-family: "corbel";
  font-weight: normal;
  font-style: normal;
  src: url("src/assets/Fonts/corbel/CORBEL.TTF") format("truetype");
}

@font-face {
  font-family: "corbel";
  font-weight: bold;
  font-style: normal;
  src: url("src/assets/Fonts/corbel/CORBELB.TTF") format("truetype");
}

@media (prefer-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
